.btn-send {
  background: none;
  border: 1px solid #aaa;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  transition: all 0.3s;
}

.btn-5 {
  color: #666;
  height: 70px;
  min-width: 260px;
  line-height: 15px;
  font-size: 16px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.btn-5 span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.3s;
  -moz-backface-visibility: hidden;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.btn-5:before {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 2.5;
  font-size: 180%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-5:active:before {
  color: #703b87;
}

.btn-5b:hover span {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
}

.btn-5b:before {
  left: -100%;
  top: 0;
}

.btn-5b:hover:before {
  left: 0;
}