/**
 * 2.0 - General Elements
 */

* {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

b {
  font-weight: 400;
}

a {
  color: #333;
  &:hover, &:focus {
    text-decoration: none;
    color: #000;
  }
}

::selection {
  background-color: #eee;
}

body {
  color: #444;
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  word-spacing: 1px;
  letter-spacing: 0.01em;
}

.single p,
#page p {
  margin-bottom: 25px;
}

.page-title {
  text-align: center;
}

.title {
  margin-bottom: 30px;
}

figure {
  margin-bottom: 25px;
}

.img-responsive-center img {
  margin: 0 auto;
}

.height-40px {
  margin-bottom: 40px;
}

.none-padding {
  padding: 0 !important;
}

.right-padding-30 {
  padding: 0 30px 0 0 !important;
}

.right-margin-30 {
  margin-right: 30px;
}