#site-header {
  background-color: #FFF;
  padding: 25px 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e7e7e7;
}

.copyrights {
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}