/**
 * 4.0 - Home/Blog
 */

.content-body {
  padding-bottom: 4em;
}

.post {
  background: #fff;
  padding: 30px 30px 0;
}

.entry-title {
  text-align: center;
  font-size: 1.9em;
  margin-bottom: 20px;
  line-height: 1.6;
  padding: 10px 20px 0;
}

.entry-meta {
  text-align: center;
  color: #DDDDDD;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.entry-content {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 300;
  color: #000;
}

.post-category,
.post-date,
.post-author {
  position: relative;
  padding-right: 15px;
}

.post-category::after,
.post-date::after,
.post-author::after {
  position: absolute;
  content: '.';
  color: #000;
  font-size: 30px;
  top: -22px;
  right: 1px;
}