/**
 * 3.1 - Logo
 */

.logo {
  & h1 {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;

    & a {
      color: #000;

      &:hover {
        text-decoration: none;
        border-bottom: none;
      }
    }
  }

}