/**
 * 3.2 - Main Navigation
 */

.main-nav {
  margin-top: 11px;
  max-width: 95%;

  & a {
    color: #000000 !important;
    padding: 0 0 5px 0 !important;
    margin-right: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;

    // TODO: Combine these
    &:active {
      background-color: transparent !important;
      border-bottom: 0;
    }
    &:focus {
      background-color: transparent !important;
      border-bottom: 0;
    }
    &:hover {
      background-color: transparent !important;
      border-bottom: 0;
    }
  }
}

.navbar-toggle {
  margin: 0;
  border: 0;
  padding: 0;
  margin-right: 25px;

  & span {
    font-size: 2em;
    color: #000;
  }
}